.list-group-scroll {
    max-height: 170px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* border-radius: 30px; */
    background: rgba(0,0,0,.26);
  }
  
  .list-group-scroll::-webkit-scrollbar-thumb {
    /* border-radius: 30px; */
    background: rgba(0,0,0,.26); /* // Put your color */
  }
  
  .list-group-scroll::-webkit-scrollbar-button,
  .list-group-scroll::-webkit-scrollbar-track,
  .list-group-scroll::-webkit-scrollbar-track-piece,
  .list-group-scroll::-webkit-scrollbar-corner,
  .list-group-scroll::-webkit-resizer {
    display: none;
  }

  .default-cursor {
    cursor: default;
  }


  .list-group-scroll-list {
    max-height: 65vh;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .list-group-scroll-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    /* border-radius: 30px; */
    background: rgba(0,0,0,.26);
  }
  
  .list-group-scroll-list::-webkit-scrollbar-thumb {
    /* border-radius: 30px; */
    background: rgba(0,0,0,.26); /* // Put your color */
  }
  
  .list-group-scroll-list::-webkit-scrollbar-button,
  .list-group-scroll-list::-webkit-scrollbar-track,
  .list-group-scroll-list::-webkit-scrollbar-track-piece,
  .list-group-scroll-list::-webkit-scrollbar-corner,
  .list-group-scroll-list::-webkit-resizer {
    display: none;
  }

  .closedLead {
    background-color: #f44336;
    color: #ffffff;
  }

  .openLead {
    background-color: #51a351;
    color: #ffffff;
  }

  .existingLeadTabFont {
    font-size: 18px;
    font-weight: 900;
  }

  .file-input {
    display: none;
  }

  .link-cursor {
    cursor: pointer;
  }