<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <div class="margin-right-box">
              <div class="row justify-content-md-center" *ngIf="changePwdResult.statusCode !== 200">
                  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <h3>Change your Password - LMS - H & R Johnson (India)</h3>
                  </div>
                  <div class="col-sm-4 margin-top-20px">
                      <mat-card class="mat-elevation-z7">
                          <form [formGroup]="changePasswordForm" (submit)="onChangePassword()">
                              <div class="row">
                                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 mt-1">
                                      <input matInput formControlName="userName"
                                          [ngClass]="{'is-invalid': changePasswordForm.get('userName').errors}"
                                          type="text" placeholder="User Name" readonly="true">
                                      <mat-error 
                                          *ngIf="changePasswordForm.get('userName').hasError('required')">
                                          Please enter user name
                                      </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 mt-3">
                                      <input matInput formControlName="currentPassword"
                                          [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword').errors}"
                                          type="password" placeholder="Enter current your password">
                                      <mat-error 
                                          *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                                          Please enter your current password
                                      </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 mt-3">
                                      <input matInput formControlName="newPassword"
                                          [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors}"
                                          type="password" placeholder="Enter New Password">
                                      <mat-error 
                                          *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                                          Please enter new password
                                      </mat-error>
                                      <mat-error 
                                          *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
                                          Password should be of minimun 6 characters
                                      </mat-error>
                                      <mat-error 
                                          *ngIf="changePasswordForm.get('newPassword').hasError('maxlength')">
                                          Password should be of maximum 12 characters
                                      </mat-error>
                                  </mat-form-field>
                                  <mat-form-field class="col-sm-12 col-md-12 col-lg-12 mt-3">
                                      <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher"
                                          [ngClass]="{'is-invalid':changePasswordForm.get('confirmPassword').hasError('required')
                                 || changePasswordForm.hasError('mismatch')}" type="password"
                                          placeholder="Confirm Password">
                                      <mat-error class="invalid-feedback"
                                          *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').hasError('required')">
                                          Confirm password
                                      </mat-error>
                                      <mat-error
                                          *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.hasError('mismatch')">
                                          Password must match
                                      </mat-error>

                                  </mat-form-field>
                              </div>
                              <div class="row justify-content-md-center mt-3">
                                  <button mat-raised-button color="primary" type="submit"
                                      class="button-margin-width">Change Password</button>
                              </div>
                          </form>
                      </mat-card>
                  </div>
              </div>
              <div class="row justify-content-md-center mt-3" *ngIf="changePwdResult.statusCode === 200">
                  <button mat-raised-button color="primary" type="button" (click)="onLoginClick()"
                      class="button-margin-width col-sm-2 col-md-2 col-lg-2">Click here to login</button>
              </div>
              <!-- {{changePasswordForm.status}}
              {{changePasswordForm.hasError('mismatch')}} -->
              <div class="row justify-content-md-center mt-5" *ngIf="changePwdResult.statusCode > 0">
                  <mat-card class="mat-elevation-z7 col-sm-8 col-md-8 col-lg-8"
                      [ngClass]="(changePwdResult.statusCode === 200) ? 'bg-success' : 'bg-danger'">
                      <p class="white-space">{{changePwdResult.message}}</p>
                  </mat-card>
              </div>
          </div>
      </div>
  </div>
</div>